.App {
  display: grid;
  grid-template-rows: 20vh 60vh 20vh;
  grid-template-columns: 20vw 60vw 20vw;
}
.calculadora {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid;
  grid-row: 2/3;
  grid-column: 2/3;
}

.calculadora  button {
  width: 6vw;
  height: 7vh;
  border: solid 1px;
}